<header class="header">
  <div class="header-container">
    <div class="logo">
      <img src="assets/icons/logo.png" alt="AHaron Logo" />
      <p>AHaron</p>
    </div>
    <nav class="nav-links">
      <a href="/dashboard">Dashboard</a>
      <a href="/irrigation-zone">Irrigation Zones</a>
      <a href="/reports">Reports</a>
    </nav>
    <div class="header-icons">

      <a href="/notifications" class="icon">
        <span class="material-icons">notifications</span>
      </a>
      <a href="/profile" class="icon">
        <span class="material-icons">account_circle</span>
      </a>
      <a href="/logout" class="icon">
        <span class="material-icons">logout</span>
      </a>
    </div>
  </div>
</header>
