<div class="zone-container">
  <h2>New Zone</h2>
  <form (ngSubmit)="onSubmitZone()" [formGroup]="zoneForm">

    <div class="form-group">
      <label for="name">Zone Name</label>
      <input id="name" type="text" formControlName="name" required />
    </div>

    <div class="form-group">
      <label for="crop">Crop</label>
      <input id="crop" type="text" formControlName="crop" required />
    </div>

    <div class="form-group">
      <label for="widthLand">Width of Land (m)</label>
      <input id="widthLand" type="number" formControlName="widthLand" required />
    </div>

    <div class="form-group">
      <label for="lengthLand">Length of Land (m)</label>
      <input id="lengthLand" type="number" formControlName="lengthLand" required />
    </div>

    <button type="submit" [disabled]="!zoneForm.valid" class="zone-button">
      Add Zone
    </button>

    <div class="text">
      <p><a routerLink="/irrigation-zone">View Zones</a></p>
    </div>

  </form>
</div>
