
<section class="dashboard-container">

  <div class="cards-info">
    @if(datas.length>0){
      <app-card-dashboard
        [title]="'Humidity'"
        [info]="'18.55'"
        [description]="'Zone 1 average Humidity'"
        [backgroundColor]="''"
      ></app-card-dashboard>

      <app-card-dashboard
        [title]="'Temperature'"
        [info]="'20.32 °C'"
        [description]="'Zone 1 average temperature'"
        [backgroundColor]="''"
      ></app-card-dashboard>

    }
  </div>

  <div class="graphics">
    <section class="chart-humidity">
      <app-dashboard-graph
        [labelsGraph]="labels"
        [dataGraph]="datas"
      ></app-dashboard-graph>
    </section>

    <section class="chart-humidity">
      <app-dashboard-graph
        [labelsGraph]="labels"
        [dataGraph]="datas"
      ></app-dashboard-graph>
    </section>

    <section class="chart-humidity">
      <app-dashboard-graph
        [labelsGraph]="labels"
        [dataGraph]="datas"
      ></app-dashboard-graph>
    </section>

  </div>

</section>



