
<section class="dashboard-container">

  <div class="cards-info">
    <app-card-dashboard
      [title]="'Título Ejemplo'"
      [info]="'458.55'"
      [description]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'"
      [backgroundColor]="''"
    ></app-card-dashboard>

    <app-card-dashboard
      [title]="'Título Ejemplo'"
      [info]="'458.55'"
      [description]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'"
      [backgroundColor]="''"
    ></app-card-dashboard>

    <app-card-dashboard
      [title]="'Título Ejemplo'"
      [info]="'458.55'"
      [description]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'"
      [backgroundColor]="''"
    ></app-card-dashboard>

  </div>

  <div class="graphics">
    <section class="chart-humidity">
      <app-historical-humidity-graph></app-historical-humidity-graph>
    </section>

    <section class="chart-humidity">
      <app-historical-humidity-graph></app-historical-humidity-graph>
    </section>

    <section class="chart-humidity">
      <app-historical-humidity-graph></app-historical-humidity-graph>
    </section>

    <section class="chart-humidity">
      <app-historical-humidity-graph></app-historical-humidity-graph>
    </section>
  </div>

</section>



