<div class="zone-container">
  <h2>New Zone</h2>
  <form (ngSubmit)="onSubmitZone()" [formGroup]="zoneForm">
    <div class="form-group">
      <label for="name">Zone Name</label>
      <input id="name" type="text" formControlName="name" required />
    </div>

    <div class="form-group">
      <label for="cropType">Crop</label>
      <input id="cropType" type="text" formControlName="cropType" required />
    </div>

    <div class="form-group">
      <label for="width">Width of Land (m)</label>
      <input id="width" type="number" formControlName="width" required />
    </div>

    <div class="form-group">
      <label for="length">Length of Land (m)</label>
      <input id="length" type="number" formControlName="length" required />
    </div>

    <div class="form-group">
      <label for="minimumTemperature">Minimum Temperature (°C)</label>
      <input id="minimumTemperature" type="number" formControlName="minimumTemperature" placeholder="e.g., 15 °C" required />
    </div>

    <div class="form-group">
      <label for="maximumTemperature">Maximum Temperature (°C)</label>
      <input id="maximumTemperature" type="number" formControlName="maximumTemperature" placeholder="e.g., 35 °C" required />
    </div>

    <div class="form-group">
      <label for="minimumHumidity">Minimum Humidity (%)</label>
      <input id="minimumHumidity" type="number" formControlName="minimumHumidity" placeholder="e.g., 30%" required />
    </div>

    <div class="form-group">
      <label for="maximumHumidity">Maximum Humidity (%)</label>
      <input id="maximumHumidity" type="number" formControlName="maximumHumidity" placeholder="e.g., 80%" required />
    </div>

    <button type="submit" [disabled]="!zoneForm.valid" class="zone-button">
      Add Zone
    </button>

    <div class="text">
      <p><a routerLink="/irrigation-zone">View Zones</a></p>
    </div>
  </form>
</div>
