<div class="zone-container">

  <h4>Irrigation Zones</h4>

  <button routerLink="/zone-record">Add Zone</button>

  <div class="zone-card">
    @for (zone of zones ; track  zone){
      <div class="card">
        <label>{{ zone.name }}</label>
        <div class="options">
          <button class="edit-btn" (click)="toggleEditingZone()">Modify Sensors</button>
          <button class="details-btn" routerLink="/zone-detail/1">View Details</button>
        </div>
      </div>
    }
  </div>

</div>


@if(isEditingZone){

<div class="modify-sensor">
  <div class="modify-container">
    <h4>Modify Sensors and Sprinklers in Zone 1</h4>

    <section class="forms">
      <div class="sensors">
        <div class="sensors-zone">
          <p>Lorem ipsum.</p>
          <p>Lorem ipsum.</p>
          <p>Lorem ipsum.</p>
          <p>Lorem ipsum.</p>
        </div>

        <div class="sensor-form">
          <h5>New Sensor</h5>
          <div class="input-box">
            <label for="sensorType">Sensor Type</label>
            <input id="sensorType" type="text" placeholder="temperature">
          </div>
          <div class="input-box">
            <label for="sensorId">Sensor ID</label>
            <input id="sensorId" type="text" placeholder="temperature#245">
          </div>
          <button><mat-icon>add</mat-icon></button>
        </div>
      </div>

      <div class="sprinklers">
        <div class="sprinkler-zone">
          <p>Lorem ipsum.</p>
          <p>Lorem ipsum.</p>
          <p>Lorem ipsum.</p>
          <p>Lorem ipsum.</p>
        </div>

        <div class="sprinkler-form">
          <h5>New Sprinkler</h5>
          <div class="input-box">
            <label for="sprinklerId">Sprinkler ID</label>
            <input id="sprinklerId" type="text" placeholder="sprinkler#245">
          </div>
          <button><mat-icon>add</mat-icon></button>
        </div>
      </div>
    </section>

    <button (click)="toggleEditingZone()">Exit</button>
  </div>
</div>
}
